<!DOCTYPE html>
<head>
<title>Questions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script language=”JavaScript”>

    var frmvalidator = new Validator("contact_form"); 
    frmvalidator.addValidation("name","req","Please provide your name"); 
    frmvalidator.addValidation("emailid","req","Please provide your email");
    frmvalidator.addValidation("textinput","req","Please enter your query");
     frmvalidator.addValidation("emailid","email", "Please enter a valid email address");
      </script>
</head>
<body>  
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="about">    
      <h1 class="display-3">Questions</h1>
      <h6>Please fill the form below. This will automatically email me your questions with your name and email address</h6>
      <form>
        <div class="form-group" method=”post” name=”contact_form” action=”contact-form-handler.php”>
            <label for="Name">Name</label>
            <input type="name" class="form-control" id="name" aria-describedby="namehelp" placeholder="Enter your Name">
          </div>
        <div class="form-group">
          <label for="emailid">Email address</label>
          <input type="email" class="form-control" id="emailid" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="textinput">Questions</label>
          <textarea class="form-control" id="textinput" placeholder="Enter your questions" rows='3'></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="SendEmail()">Submit</button>
      </form>
      </div>
      </div>
      </div>
  </body>