
<!DOCTYPE html>
<head>
<title>HomePage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
<div class="container">
    <div class="row">
        <div class="col-xs-12" id="about">
            <h1 class="display-3">About</h1>
            <p><strong><em>Hey there,<br> I hope you are doing great today!! Welcome to the journey of my 23 Kilos weight loss.</em></strong></p><br><br>
            <img src="../.././assets/image/transform.jpg" alt="" width="300" height="350">
            <h2 class="display-3"> What can you find here?</h2>
            <p><em>This blog is all about my experience througout my fitness journey. You can also find some useful tips to include in your daily routine which worked like wonders for me.<br>Due to our sedentary lifestyle and desk jobs these days, most of us are stuggling with weight and health issues. This is a small initiative by me to do my best to help you out. ( With some Motivation and Tips !! )</em><br>I hope you find answers for all your questions and get motivated to stay fit and healthy.<br> You can always drop me your queries by filling the form below and I will try my best to provide a solution.<br><br> Thanks for reading!!</p>
            <footer><em>I hope this page will encourage you to stay fit and healthy throughout your life!</em></footer>
        </div>
    </div>
</div>
</body>